// colors
$white: #fff;
$white2: #eee;
$black: #2B2B2A;
$natural-black:#000;
$link-hover:#3C50E0;
$link:#848484;
$hero-bg:#F3F4FF;
$text-cl-hero:#363D70;
$subtitle-cl:#6C6C6C;
$sec-work-text:#5D8082;
$footer-cl:#E8E8E8;




// media
$media_xxxl: 'max-width: 1400px';
$media_xxl: 'max-width: 1300px';
$media_xl: 'max-width: 1200px';
$media_lg: 'max-width: 1100px';
$media_lg2: 'max-width: 1000px';
$media_lg3: 'max-width: 900px';
$media_md: 'max-width: 800px';
$media_md2: 'max-width: 700px';
$media_sm: 'max-width: 600px';
$media_sm2: 'max-width: 500px';
$media_xs: 'max-width: 400px';